<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Texto y Párrafos</title>
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'parrafos/styles.css' %}">
    <link href="https://fonts.googleapis.com/css2?family=Carlito&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <div class="header">
        <div class="header-left">
            <button class="indice-btn" onclick="toggleIndice()">Índice</button>
            <a href="{% url 'anadir_parrafo' %}">
                <button class="indice-btn">Añadir Párrafo</button>
            </a>
        </div>
        <div class="header-right">
            <button class="indice-btn" onclick="showPopup('quePopup')">DesertorEX</button>
            <button class="indice-btn" onclick="showPopup('autoedicionesPopup')">Autoediciones La Porvenir</button>
            <button class="indice-btn" onclick="showPopup('codigoPopup')">Código fuente</button>
            <a href="https://instagram.com/la_porvenir" target="_blank" class="instagram-icon">
                <i class="fab fa-instagram"></i>
            </a>
        </div>
    </div>
    <div id="mySidebar" class="sidebar">
        <h2>Índice</h2>
        <ul id="indice">
            {% for parrafo in parrafos %}
                <li><a href="#{{ parrafo.get_anchor }}" onclick="scrollToElement(event, '{{ parrafo.get_anchor }}')">{{ parrafo.titulo }}</a></li>
            {% endfor %}
        </ul>
    </div>

    <div id="contenido">
        <h1>Las Aventuras de un Botijo en Altamar</h1>
        <p>En un pequeño pueblo costero, había un botijo llamado Botijón. Botijón no era un botijo común; soñaba con aventuras en altamar. Un día, decidió que era hora de dejar su vida tranquila y embarcarse en un viaje épico.</p>

        <p>Botijón se subió a un barco pesquero y pronto se encontró navegando por el vasto océano. Los marineros, al principio sorprendidos por su presencia, pronto se encariñaron con él. Botijón se convirtió en el compañero de todos, siempre listo para ofrecer un trago de agua fresca.</p>

        <p>Un día, mientras navegaban cerca de una isla desconocida, una tormenta feroz azotó el barco. Las olas eran enormes y el viento rugía con fuerza. En medio del caos, Botijón rodó por la cubierta y cayó al mar. Los marineros, preocupados, intentaron rescatarlo, pero la tormenta era demasiado fuerte.</p>

        <p>Botijón flotó a la deriva durante horas, hasta que finalmente llegó a la orilla de una isla desierta. Allí, conoció a un grupo de cangrejos que lo ayudaron a encontrar refugio. Agradecido, Botijón compartió su agua con ellos, y juntos formaron una pequeña comunidad.</p>

        <p>Con el tiempo, Botijón y los cangrejos exploraron la isla y descubrieron un antiguo mapa del tesoro. Decidieron seguir las pistas y, después de muchas aventuras, encontraron un cofre lleno de joyas y monedas de oro. Botijón se convirtió en el héroe de la isla, y los cangrejos lo coronaron como su rey.</p>

        <p>Un día, un barco pasó cerca de la isla y los marineros reconocieron a Botijón. Lo rescataron y lo llevaron de vuelta a su pueblo. Aunque extrañaba a sus amigos cangrejos, Botijón estaba feliz de estar en casa, con muchas historias que contar sobre sus aventuras en altamar.</p>

        <p>Desde entonces, Botijón fue conocido como el botijo aventurero, y su historia inspiró a muchos otros a seguir sus sueños, sin importar cuán inusuales fueran.</p>
        
        <div id="texto">
            {% for parrafo in parrafos %}
                <div class="parrafo" id="{{ parrafo.get_anchor }}">
                    <p class="titulo">{{ parrafo.titulo }}</p>
                    <p>{{ parrafo.texto }}</p>
                </div>
            {% endfor %}
        </div>
    </div>

    <div id="quePopup" class="popup">
        <p>Desertorex es una recopilación de experiencias sobre el proceso de desertar de la psiquiatrización de las situaciones difíciles. Como profesional, como paciente y como entorno cómplice. Con desertar nos referimos a dejar de ser profesional, dejar de ser paciente, dejar de ser entorno y cómplice, y que todo el mundo hagamos otra cosa con lo que pasa.

            En Desertorex encontrarás experiencias concretas, no las mejores, no terminadas, no exentas de ambivalencia, con las que no estamos necesariamente de acuerdo, pero todas son intentos reales, y por tanto útiles, para poder acercarse a los movimientos que cada cúal tendría que hacer para salir de este embrollo y mirar de frente qué es lo que los atasca y qué es lo que los desatasca. Incluímos también unas explicaciones iniciales sobre la práctica que nos ha llevado a la convicción de que es por aquí, y sus consecuencias, así como de cómo se ha hecho la recopilación y qué ha pasado por el camino.
            
            Ahora es tu turno, te animamos a escribir la tuya, tu experiencia de deserción.
            
            Si quieres ponerte en contacto con nosotres para proponernos proyectos relacionados escríbenos a <b>desertorex@laporvenir.org</b>
            Si quieres ejemplares físicos del primer recopilatorio de textos escríbenos a <b>autoediciones@laporvenir.org</b></p>
        <div class="close-btn">
            <button onclick="closePopup('quePopup')">Cerrar</button>
        </div>
    </div>
    <div id="autoedicionesPopup" class="popup">
        <p>Todo esto no sale de la nada. Mucho de atreverse, muchos palos, muchos desencuentros, muchas conversaciones y reuniones, mucho pensar en común, mucha gente, mucho conocimiento acumulado puesto en práctica, mucha autogestión.
            Apostamos por la cultura libre, el software libre. Pedimos que se ponga conciencia en que libre no significa gratis, así que si quieres redistribuir lo que sí que tienes con nosotres puedes consultar cómo hacerlo <a href="https://laporvenir.org/tu/" target="_blank"> aquí</a>.</p>
        <div class="close-btn">
            <button onclick="closePopup('autoedicionesPopup')">Cerrar</button>
        </div>
    </div>
    <div id="codigoPopup" class="popup">
        <p>Esto es el popup de Código</p>
        <div class="close-btn">
            <button onclick="closePopup('codigoPopup')">Cerrar</button>
        </div>
    </div>

    <script>
        function toggleIndice() {
            var sidebar = document.getElementById("mySidebar");
            var contenido = document.getElementById("contenido");
            if (sidebar.classList.contains('open')) {
                sidebar.classList.remove('open');
                contenido.classList.remove('shifted');
            } else {
                sidebar.classList.add('open');
                contenido.classList.add('shifted');
            }
        }

        function scrollToElement(event, id) {
            event.preventDefault();
            var element = document.getElementById(id);
            var headerOffset = document.querySelector('.header').offsetHeight;
            var elementPosition = element.getBoundingClientRect().top;
            var offsetPosition = elementPosition + window.pageYOffset - headerOffset;

            window.scrollTo({
                top: offsetPosition,
                behavior: 'smooth'
            });
        }

        function showPopup(popupId) {
            document.getElementById(popupId).style.display = 'block';
        }

        function closePopup(popupId) {
            document.getElementById(popupId).style.display = 'none';
        }
    </script>
</body>
</html>
