body {
    font-family: 'Carlito', sans-serif;
    margin: 0;
    padding: 0;
}
.header {
    width: 100%;
    background-color: black; /* Fondo negro */
    padding: 10px 0;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid black; /* Línea negra en el borde inferior */
}
.header-left, .header-right {
    display: flex;
    align-items: center;
}
.header-right {
    margin-left: auto;
}
.header button {
    margin: 0 10px;
    padding: 10px 20px;
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold; /* Texto en negrita */
}
.header button:hover {
    background-color: yellow; /* Fondo amarillo al pasar el cursor */
}
.header button:focus {
    outline: none;
}
.header .instagram-icon {
    color: white;
    margin-left: 10px;
    font-size: 24px;
    text-decoration: none;
}
.header .instagram-icon:hover {
    color: yellow; /* Cambiar a amarillo al pasar el cursor */
}
.parrafo {
    white-space: pre-line; /* Mantiene los saltos de línea */
}
.titulo {
    font-weight: bold;
    font-size: 1.5em;
}
.sidebar {
    height: calc(100vh - 60px);
    width: 250px;
    position: fixed;
    top: 0;
    left: -250px;
    background-color: #f8f9fa;
    overflow-x: hidden;
    transition: 0.5s;
    padding-top: 60px;
    z-index: 999;
}
.sidebar a {
    padding: 10px 15px;
    text-decoration: none;
    font-size: 18px;
    color: #333;
    display: block;
    transition: 0.3s;
}
.sidebar a:hover {
    background-color: yellow;
}
.sidebar h2 {
    text-align: center;
    margin-bottom: 20px;
}
.open {
    left: 0;
}
#contenido {
    margin-left: 30px; /* Espacio para el botón "Índice" */
    padding-top: 70px; /* Ajustar según la altura de la cabecera */
    transition: margin-left 0.5s;
}
#contenido.shifted {
    margin-left: 280px; /* Ajusta este valor según el ancho de tu sidebar */
}
.form-container {
    margin: 30px;
}
.form-container form {
    display: flex;
    flex-direction: column;
}
.form-container input[type="text"] {
    width: 50%; /* El título ocupa la mitad del ancho */
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}
.form-container textarea {
    width: 100%; /* El cuadro de texto ocupa todo el ancho */
    margin-bottom: 15px;
    padding: 10px;
    font-size: 16px;
}
.form-container button {
    width: 150px; /* Ajustar el tamaño del botón */
    padding: 5px 10px; /* Botón más pequeño */
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
    font-size: 14px;
    display: inline-flex;
    align-items: center;
    justify-content: center; /* Centrar el texto en el botón */
}
.form-container button:hover {
    background-color: yellow; /* Fondo amarillo al pasar el cursor */
}
.form-container .back-button {
    margin-top: 10px;
}
.form-container .back-button::before {
    content: "← "; /* Flecha hacia la izquierda */
}
.popup {
    display: none;
    position: fixed;
    z-index: 1001;
    padding: 20px;
    background-color: yellow; /* Fondo amarillo */
    border: 1px solid black;
    width: 500px;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.popup p {
    margin: 0;
}
.popup .close-btn {
    display: block;
    text-align: right;
    margin-top: 10px;
}
